<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Scooter</title>
  </head>
  <body>
    <h1>Adding a New Scooter</h1>

    <form action="/scooters" method="POST">

      <label for="name">Name</label>
      <input type="text" name="name">
      <label for="model">Model</label>
      <input type="text" name="model">
      <label for="color">Color</label>
      <input type="text" name="color">
      <label for="inception_date">Inception Date</label>
      <input type="text" name="inception_date">
      <input type="submit" values="Create Scooter">
    </form>
  </body>
</html>
