<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Rider</title>
  </head>
  <body>
    <h1>Adding a New Rider</h1>

    <form action="/riders" method="POST">

      <label for="first_name">First Name</label>
      <input type="text" name="first_name">
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name">
      <label for="membership_type">Membership Type</label>
      <input type="text" name="membership_type">

      <input type="submit" values="Create Rider">
    </form>
  </body>
</html>
