<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Manage Trips - Scooters - Riders</h1>
    <h2><a href="/trips">Trips</a></h2>
    <h2><a href="/riders">Riders</a></h2>
    <h2><a href="/scooters">Scooters</a></h2>
  </body>
</html>
